[Unit]
Description=Start xterm with journalctl logs
After=graphical.target

[Service]
ExecStart=/usr/bin/xterm -hold -e "journalctl -p 3 -f"
Restart=always
User=bo
Environment=DISPLAY=:0

[Install]
WantedBy=default.target

